/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/05/2015, 09:37:58 PM
    Author     : Bodega
*/


.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: initial;
  transition-delay: initial;
}

.tam{
    width: 300px;
    float: left;
    margin:  10px;
}

.panel-yellow .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}
#panel{
    margin: 0 auto;
    
    width: 400px;
}
